Source: nublic-files-and-users
Section: nublic
Priority: extra
Maintainer: Nublic Packaging Team <packaging@nublic.com>
Build-Depends: cdbs, debhelper (>= 7), python (>= 2.6), python-support (>= 0.90), python-setuptools
Standards-Version: 3.8.1
XS-Python-Version: >= 2.6
Homepage: http://nublic.com

Package: nublic-files-and-users
Architecture: all
Depends: dbus, python (>= 2.6), python-central, python-support (>= 0.90), python-dbus, python-elixir, python-sqlalchemy, python-gtk2, python-psycopg2, nublic-resource, git
Description: The Nublic Files and Users management tool.
 A system providing an easy way to manage users
 and their corresponding folders in Nublic.
