Source: nublic-app-music-server
Section: nublic
Priority: extra
Maintainer: Nublic Packaging Team <packaging@nublic.com>
Build-Depends: debhelper (>= 8.0.0), junit4, scala, libdbus-java
Standards-Version: 3.9.2
Homepage: http://nublic.com

Package: nublic-app-music-server
Architecture: all
Depends: ${misc:Depends}, tomcat7, scala-library, libdbus-java, ffmpeg, lame, libnublic-file-watcher-scala, echoprint-codegen
Description: Nublic Music app - server
 Music app for the Nublic platform - server part
