Source: nublic-solr-config
Section: nublic
Priority: extra
Maintainer: Nublic Packaging Team <packaging@nublic.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://nublic.com

Package: nublic-solr-config
Architecture: all
Depends: ${misc:Depends}, solr-tomcat
Replaces: solr-tomcat, solr-common
Description: Nublic Solr configuration files
 Nublic Solr configuration files
