Source: nublic-upstart
Section: nublic
Priority: extra
Maintainer: Nublic Packaging Team <packaging@nublic.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://nublic.com

Package: nublic-upstart
Architecture: all
Depends: ${misc:Depends}, xvfb, libreoffice
Description: Nublic Upstart workaround files
 Nublic Upstart workaround files
