Source: nublic-app-music-server
Section: nublic
Priority: extra
Maintainer: Nublic Packaging Team <packaging@nublic.com>
Build-Depends: cdbs, debhelper (>= 7), python (>= 2.6), python-support (>= 0.90)
Standards-Version: 3.8.1
XS-Python-Version: >= 2.6
Homepage: http://nublic.com

Package: nublic-app-music-server
Architecture: all
Depends: dbus, python (>= 2.6), python-central, python-support (>= 0.90),libapache2-mod-wsgi, python-nublic, python-nublic-server, ffmpeg, lame, echoprint-codegen, python-unidecode, python-pyechonest, python-mutagen, python-pymad, python-pgmagick, python-requests
Description: The Nublic Music App Server
 The server serving the music information to the users.
