/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

body, html {
	height: 100%;
	margin: 0px !important;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.gwt-Label-h3 {
  color: #404040;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

.selected {
  background-color: #DDDDDD;
  font-weight: bold !important;
  opacity: 0.5;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.task {
	font-size: 115%;
	padding-top: 10px;
	padding-bottom: 10px;
}

/** background of plus feedback */
.plusbackground {
	background: #00ff0c; /* Old browsers */
	background: -moz-linear-gradient(top, #00ff0c 0%, #025b1a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00ff0c), color-stop(100%,#025b1a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #00ff0c 0%,#025b1a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #00ff0c 0%,#025b1a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #00ff0c 0%,#025b1a 100%); /* IE10+ */
	background: linear-gradient(top, #00ff0c 0%,#025b1a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff0c', endColorstr='#025b1a',GradientType=0 ); /* IE6-9 */
}
