[submodule "3rd-party-libs/sunburnt"]
	path = 3rd-party-libs/sunburnt
	url = git://github.com/tow/sunburnt.git
[submodule "3rd-party-libs/echoprint-codegen"]
	path = 3rd-party-libs/echoprint-codegen
	url = git://github.com/echonest/echoprint-codegen.git
[submodule "bootstrap"]
	path = bootstrap
	url = git://github.com/serras/bootstrap.git
[submodule "player"]
	path = player
	url = ssh://git@github.com/nublic/bst-player.git
[submodule "3rd-party-libs/pykka"]
	path = 3rd-party-libs/pykka
	url = https://github.com/mopidy/pykka-deb.git
[submodule "3rd-party-libs/pyechonest"]
	path = 3rd-party-libs/pyechonest
	url = https://github.com/echonest/pyechonest
