Source: nublic-app-market
Section: nublic
Priority: extra
Maintainer: Nublic Packaging Team <packaging@nublic.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://nublic.com

Package: nublic-app-market
Architecture: all
Depends: ${misc:Depends}, nublic-app-market-server, nublic-app-market-daemon, nublic-app-market-web
Description: Nublic Market app
 Market app for the Nublic platform - metapackage
