Source: nublic-app-photos
Section: nublic
Priority: extra
Maintainer: Nublic Packaging Team <packaging@nublic.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://nublic.com

Package: nublic-app-photos
Architecture: all
Depends: ${misc:Depends}, nublic-app-photos-server, nublic-app-photos-web, nublic-app-photos-mobile
Description: Nublic Photos app
 Photos app for the Nublic platform - metapackage
