Source: nublic-app-init-web
Section: nublic
Priority: extra
Maintainer: Nublic Packaging Team <packaging@nublic.com>
Build-Depends: debhelper (>= 8.0.0), junit4
Standards-Version: 3.9.2
Homepage: http://nublic.com

Package: nublic-app-init-web
Architecture: all
Depends: ${misc:Depends}
Description: Nublic Init app - web
 Init app for the Nublic platform - web part
