Source: nublic-app-manager-settings
Section: nublic
Priority: extra
Maintainer: Nublic Packaging Team <packaging@nublic.com>
Build-Depends: debhelper (>= 8.0.0), maven2, junit4
Standards-Version: 3.9.2
Homepage: http://nublic.com

Package: nublic-app-manager-settings
Architecture: all
Depends: ${misc:Depends}, tomcat7
Description: Nublic Settings app
 Settings app for the Nublic platform
