Source: python-nublic
Section: nublic
Priority: optional
Maintainer: Nublic Packaging Team <packaging@nublic.com>
Build-Depends: python-all (>= 2.6.6-3), debhelper (>= 7), cdbs, python-support
Standards-Version: 3.9.1
XS-Python-Version: >= 2.6
Homepage: http://nublic.com

Package: python-nublic
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-pykka, python (>= 2.6), python-central, python-support (>= 0.90), python-gobject, nublic-file-watcher, nublic-files-and-users, nublic-resource, nublic-notification, python-simplejson, python-rpcbd, python-dbus
Description: Nublic Python Library
 This library provides acceess to common Nublic functionality from Python.
