Source: nublic-app-market-server
Section: nublic
Priority: extra
Maintainer: Nublic Packaging Team <packaging@nublic.com>
Build-Depends: cdbs, debhelper (>= 7), python (>= 2.6), python-support (>= 0.90), python-setuptools
Standards-Version: 3.8.1
XS-Python-Version: >= 2.6
Homepage: http://nublic.com

Package: nublic-app-market-server
Architecture: all
Depends: ${misc:Depends}, python (>= 2.6), python-central, python-support (>= 0.90), python-flask, libapache2-mod-wsgi, aptdaemon, python-aptdaemon
Description: The Nublic Market App Server.
 The Market apps allows to install and upgrade Nublic apps.
