Source: nublic-file-watcher
Section: nublic
Priority: extra
Maintainer: Nublic Packaging Team <packaging@nublic.com>
Build-Depends: cdbs, debhelper (>= 7), python (>= 2.6), python-support (>= 0.90)
Standards-Version: 3.8.1
XS-Python-Version: >= 2.6
Homepage: http://nublic.com

Package: nublic-file-watcher
Architecture: all
Depends: python (>= 2.6), python-central, python-support (>= 0.90), python-pyinotify (>= 0.9), nublic-upstart, nublic-file-watcher-internal, python-sunburnt, python-nublic, nublic-solr-jetty8-config, python-videoconverter, nublic-app-photos-server-common, python-exif, python-pgmagick, python-httplib2
Description: The Nublic File Watcher system.
 A system providing an easy way to listen to file changes.
 It is intended to be used with Nublic apps.
