Source: nublic-samba-config
Section: nublic
Priority: extra
Maintainer: Nublic Packaging Team <packaging@nublic.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://nublic.com

Package: nublic-samba-config
Architecture: all
Depends: ${misc:Depends}, samba
Description: Nublic Samba configuration files
 Nublic Samba configuration files
