Source: nublic-app-photos-server
Section: nublic
Priority: extra
Maintainer: Nublic Packaging Team <packaging@nublic.com>
Build-Depends: debhelper (>= 8.0.0), junit4, scala, libdbus-java
Standards-Version: 3.9.2
Homepage: http://nublic.com

Package: nublic-app-photos-server
Architecture: all
Depends: ${misc:Depends}, tomcat7, scala-library, libdbus-java, nublic-resource, libnublic-file-watcher-scala, libnublic-files-and-users-java, libnublic-resource-java
Description: Nublic Photos app - server
 Photos app for the Nublic platform - server part
