Source: nublic-app-manager
Section: nublic
Priority: extra
Maintainer: Nublic Packaging Team <packaging@nublic.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://nublic.com

Package: nublic-app-manager
Architecture: all
Depends: ${misc:Depends}, nublic-app-manager-server, nublic-app-manager-web, nublic-app-manager-welcome
Description: Nublic Manager app
 Manager app for the Nublic platform - metapackage
