Source: nublic
Section: nublic
Priority: extra
Maintainer: Nublic Packaging Team <packaging@nublic.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://nublic.com

Package: nublic
Architecture: all
Depends: ${misc:Depends}, libdbus-java, nublic-samba-config, nublic-solr-config, nublic-tomcat6-config, nublic-minidlna-config, nublic-apache-config, nublic-file-watcher, nublic-notification, nublic-app-browser, nublic-app-manager, nublic-files-and-users, acl, python-fstab, openjdk-7-jre, openjdk-7-jdk
Description: Nublic metapackage
 Nublic metapackage
