Source: nublic-app-manager-web
Section: nublic
Priority: extra
Maintainer: Nublic Packaging Team <packaging@nublic.com>
Build-Depends: debhelper (>= 8.0.0), junit4
Standards-Version: 3.9.2
Homepage: http://nublic.com

Package: nublic-app-manager-web
Architecture: all
Depends: ${misc:Depends}, tomcat7
Description: Nublic Manager app - server
 Manager app for the Nublic platform - server part
