Source: nublic-app-manager-welcome
Section: nublic
Priority: extra
Maintainer: Nublic Packaging Team <packaging@nublic.com>
Build-Depends: debhelper (>= 8.0.0), maven2, junit4
Standards-Version: 3.9.2
Homepage: http://nublic.com

Package: nublic-app-manager-welcome
Architecture: all
Depends: ${misc:Depends}, tomcat6
Description: Nublic Manager app - Welcome page
 Manager app for the Nublic platform - Welcome page
