Source: nublic-minidlna-config
Section: nublic
Priority: extra
Maintainer: Nublic Packaging Team <packaging@nublic.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://nublic.com

Package: nublic-minidlna-config
Architecture: all
Depends: ${misc:Depends}, minidlna
Replaces: minidlna
Description: Nublic MiniDLNA configuration files
 Nublic MiniDLNA configuration files
