Source: nublic-app-init
Section: nublic
Priority: extra
Maintainer: Nublic Packaging Team <packaging@nublic.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://nublic.com

Package: nublic-app-init
Architecture: all
Depends: ${misc:Depends}, nublic-app-init-server, nublic-app-init-web
Description: Nublic Init app
 Initial configuration app for Nublic platform - metapackage
